<!DOCTYPE html>
<html lang="en" ng-app="todoList">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
</head>
<body ng-controller="taskCtrl">
    <div>
        <input type="text" ng-model="task">
        <span>
            <button ng-click="add()">提交</button>
        </span>
    </div>
    <h4 ng-if="tasks.length>0">任务列表</h4>
    <ul>
        <li ng-repeat="items in tasks track by $index">
            {{items}}
            <a ng-click="tasks.splice($index, 1)">删除</a>
        </li>
    </ul>
</body>
<script src="angular.js"></script>
<script src="angular.min.js"></script>
<script>
    //ng-hide和ng-if的区别在于hide不管表达式成立与否都会将Element生成，而if会在表达式成立时生成，所以推荐使用ng-if，效率更高。
    angular.module('todoList', [])
            .controller('taskCtrl', function($scope){
                $scope.task="";
                $scope.tasks=[];
                $scope.add=function(){
                    $scope.tasks.push($scope.task);
                }
            })
</script>
</html>